

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

    
        form{
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content{
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 10px;
        }
        .content input, button{
            padding: 10px;
            margin: 5px;
            height: 50px;
            width: 600px;
            border-radius: 5px;
            border: 1px solid gray;
            font-size: 20px;

        }
        .content button{
          cursor: pointer;
          background-color: #1977F2;
          color: white;
          font-size: 20px;
          font-weight: 500;
        }
        button:hover{
            background-color: white;
            color: black;
        }
        
        nav{
            background-color: #1977F2;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        nav a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            padding: 8px;
            margin-right: 15px;
            background-color: #42B729;
            border-radius: 5px;
        }
        nav a:hover{
            background-color: white;
            color: black;
        }
        p{
            color: red;
        }

    
    </style>
</head>

<body>
    <nav>
        <a href="/register">Create new account</a> 
        <!-- Signup -->
    </nav>
    <form  action="/login" method="post">
        <div class="content">
            <input type="email" name="email" placeholder="Email address" required>
            <input type="password" name="password" placeholder="Password">
            <p><%= locals.message %></p>
            <button type="submit">Login</button>
            <!-- <p>or</p> -->
    
        </div>
    </form>
    
</body>

</html>